# Python
__pycache__/
*.py[cod]
.venv/

# macOS
.DS_Store

# IDE
.vscode/

# Generated data
data/processed/

# Local results
results/

# QGIS temporary files
*.qgs~
*.qgz~

# Raw geospatial datasets
data/raw/